@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdf1;
  --color-brand-100: #dbfce1;
  --color-brand-200: #bdf7c7;
  --color-brand-300: #8ef0a0;
  --color-brand-400: #54e26e;
  --color-brand-500: #36e838;
  --color-brand-600: #22c324;
  --color-brand-700: #1e9a21;
  --color-brand-800: #1d791f;
  --color-brand-900: #1a641c;
  --color-brand-950: #09370b;
}




body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Salary Range */
.salary-range {
  @apply w-full cursor-pointer appearance-none bg-transparent;
}
.salary-range::-webkit-slider-runnable-track {
  @apply h-1.5 rounded-full bg-slate-200;
}
.salary-range:active::-webkit-slider-runnable-track {
  animation: range-wobble 0.35s ease-in-out infinite alternate;
}

.salary-range::-webkit-slider-thumb {
  @apply mt-[-5px] h-4 w-4 appearance-none rounded-full bg-brand-500 transition-all;
}

.salary-range:hover::-webkit-slider-thumb {
  @apply scale-125 shadow-md;
}
.salary-range::-moz-range-track {
  @apply h-1.5 rounded-full bg-slate-200;
}
.salary-range::-moz-range-thumb {
  @apply h-4 w-4 rounded-full border-0 bg-brand-500 transition-all;
}
.salary-range:hover::-moz-range-thumb {
  @apply scale-125 shadow-md;
}
@keyframes range-wobble {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.3);
  }
}
/* ------------------------------ */